.t1 {
    background-image: url('../../assets/images/t1-2.png');
}

.t1b {
    background-image: url('../../assets/images/t1.png');
}

.t3 {
    background-image: url('../../assets/images/t3-2.png');
}

.tb {
    background-image: url('../../assets/images/t3.jpg');
}

.t4 {
    background-image: url('../../assets/images/t4.png');
}

.t5 {
    background-image: url('../../assets/images/t5.png');
}




